/* CORES DE FUNDO*//* CORES DE FUNDO*//* CORES DE FUNDO*//* CORES DE FUNDO*/
.blue-st{
  background-color:#1b325f;
}
.pg-title{
  font-size:2rem;
}
.light-blue-st{
  background-color:#3a89c9;
}
.orange-st{
  background-color:#f26c4f;
}
.yellow-st-text{
  background-color:#f7b856;
}
/*CORES DO TEXTO*//*CORES DO TEXTO*//*CORES DO TEXTO*//*CORES DO TEXTO*/
.blue-st-text{
  color:#1b325f;
}
.light-blue-st-text{
  color:#3a89c9;
}
.orange-st-text{
  color:#f26c4f;
}
.yellow-st-text{
  color:#f7b856;
}
main > section{
  padding: 10px ;
}
.info-contato-font{
  font-size:1.4rem;
}
.mail-icon{
  vertical-align: -6px;
}
.tit-servico-info{
  font-weight: bold;
  font-size: 2rem;
}
.info-sobre-font{
  font-weight: bold;
  font-size: 1.2rem;
}
.img-sobre-info{
  min-width: 425px;
}
.img-sobre-info-med{
  max-width:750px;
}
.btn-floating{
  border: solid white 1px;
}
.btn-floating > .material-icons{
  font-size: 3rem;
  color: #f26c4f;
}

/*@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 600px) {

}*/
